.navbar-default {
    background: url(../img/Arizona-Header-1.png), linear-gradient(360deg, rgba(255, 255, 255, 0.3) 0%, rgba(102, 69, 18, 0.3) 100%), #C2A684;
    background-size:cover;
    box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.4);
}

a{
    color: #3A2300 !important;
}

a:focus, a:hover {
    color: #A88A64 !important;
}

.navbar-default{
    font-family: 'Piedra' !important;
}

.navbar-default .navbar-toggle{
    border-color:#3A2300;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color:#3A2300;
}

.header-top.primary{
    background-color: #3A2300;
}
.header-top .social-links li a:hover, .member-profile .social-links li a:hover, .quick-contact:hover > i {
    background-color: #3A2300;
}

#head .social-links i.fa{
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

#head .social-links i.fa:hover, .header-top.primary .quick-contact:hover > i, .header-top.primary .social-links li a:hover{
    color:#d9d9d978;
}

.top-nav.dropdown.type2{
    background-color: #3A2300 !important;
}

.header-top .social-links li a:hover, .member-profile .social-links li a:hover{
    color:#D9D9D9 !important;
}

/* button for cart dropdowns */
.btn-gold-border {
    border: 1px solid #fff;
}

/* button for sliders */

.college-slide .slide-item .bsns-btn a{
    background-color: #A88A64;
    color: #3A2300 !important;
    height: auto;
    box-shadow:3px 3px 3px #01051e;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.college-slide .slide-item .bsns-btn a:hover{
    background-color:transparent;
    color:#A88A64 !important;
    border: 1px solid #A88A64;
    text-shadow:3px 3px 3px #01051e;
}

.navbar-default .container{
    display:table;
}

.navbar-collapse{
    display: table-cell !important;
    vertical-align: middle;
}

@media (min-width: 768px){
.navbar-collapse.collapse {
    display: table-cell !important;
    vertical-align: middle;
}
}

.newsletter{
    background: #153210;
}

.college-slide .slide-item h2{
    font-weight: normal;
    font-size:58px !important;
}
.college-slide .active .slide-item h2{
color:#A88A64 !important;
}

h1, h2, h3, h4, h5{
    font-family: 'Piedra' !important;
}

.welcome h2{
    font-size: 40px !important;
}

body{
    background-color:#fff !important;
    color:#000 !important;
}

.para1 p, .para1 h2, .para1 h3{
    color: #fff !important;
    text-shadow: 5px 5px 3px #000000ab;
}
.para1 a{
    text-shadow: none;
}

h2{
    font-size:40px !important;
}

.para1{
    background-color: #5d5d5d;
    background-blend-mode: multiply;
}

.btn-gold{
    border: 1px solid #A88A64;
    background-color:#A88A64;
    color:#3A2300 !important;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
.btn{
    font-weight:700 !important;
}
.btn-gold:hover{
    color:#fff !important;
    background-color:transparent !important;
    border: 1px solid #fff;
}

.btn-blue{
    border: 1px solid #A88A64 !important;
    background-color:#A88A64 !important;
    color:#3A2300 !important;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.btn-blue:hover{
    border: 1px solid #A88A64 !important;
    background-color:transparent !important;
    color:#A88A64 !important;
}

.item{
    background-color:#5b5b5b;
    background-blend-mode: multiply;
}

#homeshop h2, #bottomblockhead h2{
    color:#153210 !important;
}

.gallery-filter.dark li a:hover, .gallery-filter.dark li a.active, .filter-cat li a:hover, .filter-cat li a.active {
    background-color: #a88a64!important;
    border-color: #a88a64!important;
}

.productBorder {
    border-bottom: 8px solid #D9D9D9;
    border-right: 8px solid #D9D9D9;
}

.productBorder .productMetas a span{
    background-color: #A88A64 !important;
}

.section-head h2{
    color:#153210 !important;
}

.section-head p{
    color:#000 !important;
}

.spacer{
    padding-top:60px;
    padding-bottom:30px;
}

@media (max-width: 767px){
.newsletter {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0px;
    margin-right: 0px;
    }

    .college-slide .slide-item h2 {
        font-size: 26px !important;
    }
}

.footer .social-links li a{
    color:#fff !important;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.footer .social-links li a:hover{
    color:#d9d9d978 !important;
}

.footer-widget{
    background: linear-gradient(360deg, rgba(255, 255, 255, 0.3) 0%, rgba(102, 69, 18, 0.3) 100%), #C2A684 !important;
}

.footer-item h4{
    color:#153210 !important;
    font-size: 30px;
}

.contact-info li span, .footer-item p{
    color:#000 !important;
}

.footer-widget a{
    color:#000 !important;
}

.footer-widget a:hover{
    color:#A88A64 !important;
}

.contact-info li i{
    color: #000 !important;
}

.footer-item > img{
    width:150px !important;
}

.footer-widget{
    padding-bottom:40px !important;
}

.navbar-collapse > ul > li{
    font-size:16px;
}

.top-nav.dropdown.type2{
    padding: 9px 8px 3px 10px;
}

.footer-item li a i{
    float:none;
}

.owl-carousel{
    color:#fff !important;
}

#slider.sitemessage{
    background-color:#153210 !important;
}

/************** about *****************/

.sidebar .newsletter, .sidebar .newsletter .label{
    background-color:#153210;
}

.sidebar .newsletter{
    padding-top:40px;
}

.sidebar .newsletter .label{
    padding-top:10px !important;
    font-weight:700 !important;
}

.about-img{
    float:left;
    margin:0 20px 20px 0;
    width:250px;
}

.p-wrap{
    margin-top:0px;
    margin-bottom:15px;
}

.about-spacer{
    padding-top:15px;
}

/************** Contact *****************/

.fa-search{
    padding-top:0px;
}

.address a{
    color:#000 !important;
}

.address a:hover{
    color:#A88A64 !important;
}

.container{
    padding-left:30px !important;
    padding-right:30px !important;
}

/************** Shop *****************/
.cartWidget{
    background: #D9D9D9 !important;
}

.sbHolder .sbSelector{
    background:#3A2300 !important;
    color: #fff !important;
}

.sbHolder .sbOptions{
    background:#3A2300 !important;
    color: #fff !important;
}

ul.page-numbers li a:hover, ul.page-numbers li .current, ul.page-numbers li .current:hover{
    background-color:#3A2300;
    color:#fff !important;
    border: 1px solid #3A2300;
}

.fa-star{
    color: #A88A64 !important;
}

span.current-price, div#storecat h2 > a, .reviewlist .media-heading{
    color:#000 !important;
    font-weight:700 !important;
}

span.sku_wrapper > span{
    color: #A88A64 !important;
}

.overview-tab li.active a{
    border-color:#A88A64 !important;
}

.overview-tab li.active a{
    color: #A88A64 !important;
}

.social-share-icons:hover span, .social-share-icons li a:hover, .btn-compare.enable_-_compare.added, .btn-compare:hover, .btn-wishlist:hover, .shopSingleRP .enable_-_compare.added{
    background-color:#A88A64 !important;
    color:#fff !important;
    border: 1px solid #A88A64 !important;
}

.review-form .input-field .btn-ash-border{
    background-color:#A88A64 !important;
    color:#3A2300 !important;
    border: 1px solid #A88A64 !important;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.review-form .input-field .btn-ash-border:hover{
    background-color:transparent !important;
    color:#A88A64 !important;
    border: 1px solid #A88A64 !important;
}

.btn-ash-border{
    border: 1px solid #3A2300 !important;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.btn-ash-border:hover{
    background-color:#A88A64 !important;
    color:#3A2300 !important;
    border: 1px solid #A88A64 !important;
}

.course p.itemrow-all-data{
    min-height: 160px;
    height:auto;
}

p.itemrow-all-data{
    background:#D9D9D9 !important;
}

.find_more.btn{
    border: 1px solid #A88A64 !important;
    margin-top:10px;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.find_more.btn:hover{
    border: 1px solid #A88A64 !important;
    background-color:#A88A64 !important;
}